@model NorthwindMvc.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-12">
            <h1> Northwind </h1>
            <p class="lead"> We have had @Model.VisitorCount visitors this month. </p>
            <h2> Categories </h2>
            <div id="newspaper">
                <ul> @foreach (var item in @Model.Categories)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="CategoryDetail" asp-route-id="@item.CategoryID">
                                @item.CategoryName </a>
                        </li>
                    }
                </ul>
            </div>
            <hr>

            <h2> Products </h2>
            <div id="newspaper">
                <ul> @foreach (var item in @Model.Products)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@item.ProductID">
                                @item.ProductName costs @item.UnitPrice.ToString() </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <hr/>

    <h3>Query Products By Price</h3>
    <form asp-action="ProductsThatCostMoreThan" method="get">
        <input name="price" placeholder="Enter a product price"/>
        <input type="submit"/>
    </form>
<hr/>
   <h3>Query Customers from a Service</h3>
    <form asp-action="Customers" method="get">
        <input name="country" placeholder="Enter a country"/>
        <input type="submit"/>
    </form>